@import "../../../../styles/config";
@import "../../../../styles/card-element";

/* Card */
.card {
  @extend %card-element;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  /* Menu Styling */
  &:hover .menu {
    visibility: visible;
  }
  .menu {
    position: absolute;
    top: 10px;
    right: 12px;

    padding: 3px 3px 0px 3px;

    background: rgba(255, 255, 255, 0.3);
    border: $default-border;
    border-radius: $medium-border-radius;
    box-shadow: $default-box-shadow;
    fill: $svg-icon-fill;
    transition: all 0.1s ease-in;

    &:hover {
      background: rgba(241, 241, 241, 0.6);
    }
  }
  .unfocused {
    visibility: hidden;
  }
  .focused {
    visibility: visible;
    background: rgba(241, 241, 241, 0.6);
  }
}

/* Edit Card */
.editCard {
  @extend %card-element;
  display: flex;
  flex-direction: column;

  textarea {
    border: none;
    background-color: transparent;
    overflow: hidden;
    resize: none;
    outline: none;
    color: inherit;
  }
  .subject {
    max-height: 34px;
  }
  .dueDate {
    float: right;

    &:hover {
      cursor: pointer;
      text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    }
  }
  .icon {
    float: left;
    margin-right: 12px;
    fill: rgba(0, 0, 0, 0.6);

    &:hover {
      cursor: pointer;
      fill: rgba(0, 0, 0, 1);
    }
  }
}
