@import "../../../../styles/config";

.dropdownMenuItem {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 4px;

  border-radius: $small-border-radius;
  color: black;
  font-size: $small-font-size;

  &:hover {
    cursor: pointer;
    background: rgba(241, 241, 241, 0.6);
  }
  .icon {
    margin-right: 8px;
  }
}

.red {
  color: rgb(237, 71, 88);
  fill: rgb(237, 71, 88);
}
