.dropdownMenuItem {
  padding: 4px;
  border-radius: 5px;
  font-size: 13px;
  color: black;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropdownMenuItem .icon {
  margin-right: 8px;
}
.dropdownMenuItem:hover {
  background: rgba(241, 241, 241, 0.6);
  cursor: pointer;
}
.red {
  color: rgb(237, 71, 88);
  fill: rgb(237, 71, 88);
}
