@import "../../../../styles/config";
@import "../../../../styles/card-element";

/* Add Another Card Prompt */
.addCardPrompt {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 3px 18px;

  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(25, 4, 69, 0.1);
  border-radius: $small-border-radius;
  box-shadow: $default-box-shadow;
  color: rgba(0, 0, 0, 0.5);
  fill: rgba(0, 0, 0, 0.4);
  font-size: $medium-font-size;
  transition: all 0.1s ease-out;

  &:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.6);
    fill: $svg-icon-fill;
    color: rgba(0, 0, 0, 0.7);
  }
  p {
    margin-left: 12px;
  }
}

/* Add Card */
.addCard {
  @extend %card-element;
  display: flex;
  flex-direction: column;

  textarea {
    border: none;
    background-color: transparent;
    overflow: hidden;
    resize: none;
    outline: none;
    color: inherit;
  }
  .subject {
    max-height: 34px;
  }
  .dueDate {
    float: right;

    &:hover {
      cursor: pointer;
      text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    }
  }
  .icon {
    float: left;
    margin-right: 12px;
    fill: rgba(0, 0, 0, 0.6);

    &:hover {
      cursor: pointer;
      fill: rgba(0, 0, 0, 1);
    }
  }
}
