.card {
  padding: 10px 18px;
  margin-bottom: 8px;

  border: 1px solid rgba(256, 256, 256, 0.1);
  /* border: 1px solid rgba(25, 4, 69, 0.1); */
  box-shadow: 0px 3px 7px rgba(25, 4, 69, 0.05);
  border-radius: 4px;

  color: white;
  font-size: 13px;
  cursor: pointer;
  position: relative;
}
.card .menu {
  position: absolute;
  fill: rgba(0, 0, 0, 0.54);
  top: 12px;
  right: 16px;
}
.card:hover {
  border: 1px solid rgba(80, 80, 80, 0.05);
  box-shadow: 0px 3px 7px rgba(25, 4, 69, 0.2);
}
.subject {
  font-weight: 500;
  margin-bottom: 6px;
  text-align: left;
}
.description {
  font-weight: 400;
  margin-bottom: 16px;
  text-align: left;
}
.dueDate {
  font-weight: 500;
  text-align: right;
}
/* .subject {
  display: grid;
  align-items: center;
  grid-template-columns: 85px 200px 180px 1fr 80px 20px;
  padding: 0px 18px 0px 20px;
  height: 50px;
}

.menu {
  visibility: hidden;
}

.subject:hover {
  background: rgba(241, 241, 241, 0.45);
}

.subject:hover > .menu {
  visibility: visible;
} */
