.navigation {
  width: 100%;
  color: #2c1338;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 14px;
  font-weight: 700;
}
.leftNavigation {
  display: flex;
  flex-direction: row;
}
.leftNavigation .logo {
  width: 30px;
  height: 30px;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #2d4466 0deg,
    rgba(70, 102, 149, 0) 360deg
  );

  border: 1px solid rgba(25, 4, 69, 0.1);
  box-shadow: 0px 3px 7px rgba(25, 4, 69, 0.05);
  border-radius: 4px;
}
.rightNavigation ul {
  display: flex;
  flex-direction: row;
}

.navigation ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 6px;
  list-style-type: none;
  height: 30px;

  background: #ffffff;
  border: 1px solid rgba(25, 4, 69, 0.1);
  box-shadow: 0px 3px 7px rgba(25, 4, 69, 0.05);
  border-radius: 4px;
}
.navigation ul li:hover {
  background: rgba(125, 125, 125, 0.1);
  cursor: pointer;
}
.navigation .iconAndTextItem {
  padding: 3px 16px 3px 8px;
}
.navigation .iconAndTextItem > .icon {
  margin-right: 6px;
}
.navigation .iconItem {
  padding: 3px;
}
.icon {
  fill: rgba(0, 0, 0, 0.54);
}
