.subject {
  display: grid;
  align-items: center;
  grid-template-columns: 85px 200px 180px 1fr 80px 20px;
  padding: 0px 18px 0px 20px;
  height: 50px;
}

.menu {
  visibility: hidden;
}

.subject:hover {
  background: rgba(241, 241, 241, 0.45);
}

.subject:hover > .menu {
  visibility: visible;
}
.topLine {
  border-top: 1px solid rgba(224, 224, 224, 0.8);
}

.subject p {
  font-size: 14px;
}

.subjectCode {
  font-weight: 700;
}
.subjectName {
  font-weight: 400;
}
.courseName {
  font-weight: 400;
  color: #978e9b;
}
.grade {
  font-weight: 400;
  grid-column: 5;
}
