.menu {
  position: relative;
  font-size: 14px;
}

.menu p:hover {
  cursor: pointer;
}

.dropdown {
  width: 140px;
  position: absolute;
  transform: translateX(-65%);
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  padding: 4px;
}

.dropdown p {
  padding: 8px;
  border-radius: 5px;
}

.dropdown p:hover {
  background: rgba(241, 241, 241, 0.45);
  cursor: pointer;
}
